
__pycache__/

*.py[cod]

venv/

env/

models/

*.bin

*.safetensors

data/raw/*.pgn

data/processed/*.json

data/processed/*.npz

*.pt

*.onnx

node_modules/

web-app/build/

.vscode/

.DS_Store

*.log

logs/

.env


# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
